@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  --SC1-color: #d145bf;
  --SC1-color: #7779f5;
  --SC1-color: #060318;
  --SC1--color: #6e6d7a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
}

.header {
  width: 100%;
  /* height: 100vh; */
  margin-bottom: 3REM;
  background-color: #f8f7f4;
}

.navbar {
  width: 100%;
  height: 11vh;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.navbar-logo {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-right: 4rem;
}

.navbar-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: calc(0.8rem + 1vw);
}

a {
  display: flex;
  font-size: 15px;
  /* change the font */
  font-family: Arial, Helvetica, sans-serif;
  /* color: #0d0c22; */
  color: rgb(91, 90, 90);
  text-decoration: none;
}

a:hover {
  /* color: #0d0c22b2; */
  color: rgba(91, 90, 90, 0.8);
  transition: all ease 0.5s;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-weight: bold;
}

.navbar-right > .sing-up {
  display: flex;
  padding: 15px 24px;
  background-color: #0d0c22;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

.navbar-right > .sing-up:hover {
  opacity: 0.8;
  transition: ease 0.5s;
}

.navbar-right input {
  padding: 13px 18px 13px 40px;
  background-image: url("./assets/magnifying-glass.png");
  background-size: 19px 19px;
  background-position: 18px 14px;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 50px;
  border: 0px;
  font-size: 16px;
}


/* DRIBBBLE PRO */

.dpro {
  /* border: 1px solid rgb(0, 38, 255); */
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50vh;
  /* height: 75vh; */
}

.dribbble-pro p {
  color: #d145bf;
  font-family: sans-serif;
  font-weight: bolder;
  /* font-size: large; */
  margin-bottom: .5rem;
}

.gdb {
  font-family: "Source Serif 4",;
  line-height: 53px;
  color: #060318;
  margin-bottom: .5rem;
  font-size: large;
  font-weight: 400;
  font-size: 3rem;
}

.light-text {
  color: #060318;
  font-family: "Mona-Sans Regular", sans-serif;
  line-height: 31px;
  text-align: center;
  font-size: 1rem;
}

.eightd {
  color: #7779f5;
  font-size: 1.5rem;
  font-family: "Mona-Sans Bold", "Mona-Sans Bold Placeholder", sans-serif;;
  margin-top: 1.5rem;
}

.ba {
  padding: .5rem;
  color: #6e6d7a;
  margin-bottom: .2rem;
}

.gst {
  display: flex;
  /* padding: 15px 24px; */
  padding: 1.2rem;
  background-color: #0d0c22;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

/* DRIBBBLE PRO end */


/* two-cards */

.two-cards {
  /* border: 1px solid rgb(0, 38, 255); */
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family:"Mona-Sans Regular", sans-serif;

}
.card-left {
  background: linear-gradient(rgb(236, 251, 249) 0%, rgb(229, 252, 222) 100%);
  height: 300px;
  width: 500px;
  /* border: 1px solid green; */
  margin-left: 8rem;
  border-radius: 25px;
}

.card-right {
  background: linear-gradient(rgb(255, 245, 252) 0%, rgb(245, 209, 235) 100%);

  height: 300px;
  width: 500px;
  /* border: 1px solid red; */
  margin-right: 8rem;
  border-radius: 25px;
}

.two-cards .p1 {
  margin-top: 5rem;
  font-size: 1.2rem;
  padding: 1rem;
  color: #060318;
} 

.p2 {
  font-size: 2rem;
  padding-left: 1rem;
}

.p3 {
  padding: 1rem;
}

/* two-cards end */


/* People & brands */

.PandB {
  /* border: 1px solid rgb(0, 38, 255); */
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem;
  margin-bottom: 0;
}

.PandB .heading {
  font-family: "Source Serif 4";
  font-weight: lighter;
  font-weight: 100;
  font-size: large;
  font-weight: 400;
  font-size: 3rem;
}

.PandB .brands-container {
  /* border: 1px solid rgb(0, 38, 255); */
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 1rem; */
  margin: 0 auto;
  padding: 20px;
  
}

 .svg-box {
  height: 11rem;
  width: 10rem;
  padding: 1rem;
}

/* People & brands */


/* attract-opp and nums */
.attract-opp {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-left  {
  height: 300px;
  width: 600px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  gap: 1rem;
  margin-left: 8rem;
} 

.content-left .bold {
  font-family: "Mona-Sans Bold", "Mona-Sans Bold Placeholder",  sans-serif;
  font-size: 25px;
}

.content-left .none {
  font-family: 'Mona-Sans',sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: #060318;
}

.content-right {
  height: 500px;
  width: 400px;
  border: 1px solid blue;
  margin-right: 4rem;
  border-radius: 25px;
}

.nums {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  /* align-items: center; */
}

.nums  .left-down {
  height: 300px;
  width: 600px;
  /* border: 1px solid black; */
  margin-left: 8rem;
}

.right-down {
  height: 300px;
  width: 600px;
  /* border: 1px solid green; */
  margin-right: 8rem;
  margin-top: 9rem;
}

.p4 {
  font-size: 1.5rem;
  padding-left: 1rem;
}
.big {
  font-family: sans-serif;
  padding: 1rem;
  padding-bottom: 0;
  font-size: 150px;
}

.gold {
  color: #deb566;
}

/* attract-opp and nums end */

/* videocard-container */

.videocard-container {
  width: 100%;
  height: 70vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}

.leftcard {
  height: 450px;
  width: 450px;
  border-radius: 16px;
  background: linear-gradient(90deg,#f8d5cf 0%,#F5C9EF 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.holder {
  height: 410px;
  width: 330px;
  background-color: #fff;
  box-shadow: 0 3px 15px #e0b8c999;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.frame {
  height: 88%;
  width: 88%;
}

.top-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


.top-img img {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  height: 45px;
}

.blackpro {
  /* height: 1.75rem; */
  border-radius: 5px;
  /* width: 2.5rem; */
  padding:0 2px;
  text-align: center;
  color: #fff;
  background-color: black;
  font-family: sans-serif;
  position: relative;
  right:40px;
  bottom: 11px;
}

.hireme {
  background-color: #ea4c89;
  text-align: center;
  padding:5px;
  border-radius: 5px;
  color: white;
  position: relative;
  bottom: 10px;
}

.mid-frame {
  /* height: 90%; */
  width: 90%;
}

.video-container video {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  left: 15px;
}

.low-frame {
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.eye, .heart {
  font-weight: bold;
  background-color: #E7E7E9;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.rightcard {
  height: 350px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem ;
}

.rightcard div:first-child {
  font-size: 25px;
  font-family: sans-serif;
}

.rightcard div:nth-child(2) {
  font-family: sans-serif;
  font-size: 20px;
  color: #110f1b;
}

/* videocard-container end */


