* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  .main {
    position: relative;
  }
  /* ---------- Home -> part 1 --------- */
  .header {
    width: 100%;
    height: 30vh;
  }
  /* ---------- Navbar --------- */
  .navbar {
    width: 100%;
    height: 15vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
  }

  .navbar-logo {
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  .navbar-list {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: calc(0.8rem + 1vw);
  }
  a {
    display: flex;
    font-size: 15px;
    /* change the font */
    font-family: Arial, Helvetica, sans-serif;
    /* color: #0d0c22; */
    color: rgb(91, 90, 90);
    text-decoration: none;
  }
  a:hover {
    /* color: #0d0c22b2; */
    color: rgba(91, 90, 90, 0.8);
    transition: all ease 0.5s;
  }


  /* ------ drop-down list ------ */
.navbar-list .drop-down {
  padding: 10px 12px;
  width: 150px;
  font-weight: 600;
  cursor: pointer;
  /* background: #ffffff; */
  color: white;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
}

.inner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.drop-down-list {
  z-index: 10;
  position: absolute;
  width: 299px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.055);
  border-radius: 8px;
  font-size: 15px;
  display: none;
}

.drop-down-list li {
  list-style: none;
  height: 100%;
  padding: 18px 38px;
  font-weight: 600;
  cursor: pointer;
}

.drop-down p {
  font-size: 12px;
}

.drop-down:hover .drop-down-list {
  display: block;
}
.ri-arrow-down-s-line{
  font-size: 18px;
}
.drop-down:hover .ri-arrow-down-s-line {
  transform: rotate(180deg);
}

.drop-down-list li:hover {
  background-color: #e7e7e71c;
  color: #555555;
  border-radius: 8px;
}

a {
  text-decoration: none;
}

/* ------ drop-down list ------ */

  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: bold;
  }

  .navbar-right > .sing-up {
    display: flex;
    padding: 15px 20px;
    background-color: #0d0c22;
    border-radius: 50px;
    color: white;
    font-weight: bold;
  }
  .navbar-right > .sing-up:hover {
    opacity: 0.8;
    transition: ease 0.5s;
  }
  .navbar-right input {
    padding: 13px 18px 13px 40px;
    background-image: url("../assets/magnifying-glass.png");
    background-size: 19px 19px;
    background-position: 18px 14px;
    background-repeat: no-repeat;
    background-color: #f8f7f4;
    border-radius: 50px;
    border: 0px;
    font-size: 16px;
  }

  /*--Dribble Hiring--*/
  .Dribble-Hiring{  
    align-items: center;
      display: flex;
      gap: 24px;
      width: 100%;
      height: 30vh;
      flex-direction: column;
      justify-content: center;
      line-height: -2px;
       }
       .Dribble-Hiring>.dribble{
        color: #D145BF;  
        font-size: large; font-weight: 800;
       }
       .designer{
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 1.5px;
       }
       .design-talent{
        gap: 12px;
        margin-left: 170px;
        margin-right: 170px;
        text-align: center; 
        font-size: large;
       }
            /*Post a Job & Get Started*/
    div.flex-1{
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 2px solid red; */
        height: 100vh;
        flex-direction: row;
         margin: 80px;
        position: relative;
        
        gap: 50px;
        width: 85%;
       
         
             }
 
 /* First box[POST A JOB] */
 .post-a-job{
   align-items: flex-start;
   display: flex;
   flex: 1.2 0 0px;
   flex-direction: column;
   flex-wrap: nowrap;
   gap: 19px;
   height: 550px;
   justify-content: flex-start;
   font-size: large;
   padding: 40px 40px 32px;
   position: relative;
   border: 1px solid;
   margin-left: 10px;
   border-color:var(--token-eb13911e-0e46-45df-b063-ffd9f17aeac1, rgb(231, 231, 233));
    border-radius: 24px;
    
 }
 .job-board{
   color: #3D3D4E;
   font-size: 24px;
 }
 .day{
   color: #3D3D4E;
   font-size: 32px;
   
 }
 .billed{
   display: flex;
   flex: wrap;
 }
 .billed>.material-symbols-outlined{
   color: green;
 }
 .post{
    display: flex;
    padding: 15px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    color: #0d0c22;
    font-weight: bold;
    font-size: large;
    align-items: center;
    justify-content: center;
    width: 60vh;
 }
 #cancel{ 
  color: #6E6D7A; 
  text-align: center;
 }
 
 /*Second box[Get Started]*/
 div.Get-Started{
   align-items: flex-start;
   display: flex;
   flex: 1 0 0px;
   flex-direction: column;
   flex-wrap: nowrap;
   gap: 19px;
   height: 600px;
   justify-content: flex-start;
   max-width: 600px;
   min-width: 340px;
   overflow: visible;
   padding: 40px 40px 32px;
   position: relative;
   width: 1px;
   border: 2px solid;
   font-size: large;
   border-color: rgb(234, 100, 217);
    border-radius: 24px;
 }
 .button-started{
    display: flex;
    padding: 15px 20px;
    background-color: #060318;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: large;
    align-items: center;
    justify-content: center;
    width: 60vh;
 }

  
 /*--video-container-1 && Start your search--    [START] */
 .video-container-1{
   display: flex;
   width: 180vh;
   height: 63vh;
   position: relative;
   left: 80px;
   gap: 35px;
 }
 .video-1{
    object-fit: cover;
    background-color: aqua;
    padding-bottom: 50px;
    border-radius: 20px;
 }

 /*--Start your search--*/
 .search{
  text-align: start;
 }
 .search>h2{
    columns: #3D3D4E;
    font-size: 32px;
    margin-top: 20px;
    padding: 10px;
 }
 .search>p{
    font-size: large;
    line-height: 1.8em;
 }
 .button{
    display: flex;
    padding: 15px 20px;
    background-color: #0d0c22;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: large;
    align-items: center;
    justify-content: center;
    width: 40vh;
 }/*--video-container-1 && Start your search--  [END]*/


  /*--video-container-2 && Post your job--    [START] */
  .video-container-2{
    /* border: 5px solid red;  */
   display: flex;
   width: 180vh;
   height: 63vh;
   position: relative;
   left: 80px;
   gap: 35px;
 }
 .video-2{
  width: 550px;
  object-fit: cover;
  background: linear-gradient(90deg,#fcd0ba 0%,#f6d8fb 100%);
  padding-bottom: 50px;
  border-radius: 20px;
  

}
.search-2{
  text-align: start;
 }
 .search-2>h2{
    columns: #3D3D4E;
    font-size: 32px;
    margin-top: 20px;
    padding: 6px;
 }
 .search-2>p{
    font-size: large;
    line-height: 1.8em;
 }


 /* .one-signal */

.one-signal {
  width: 100%;
  height: 60vh;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.one-signal-container {
  height: 320px;
  width: 945px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  gap: 60px;
  cursor: pointer;
}

.one-signal-container .one-signal-left {
  width: 60%;
  height: 100%;
  border: 2px solid rgb(231, 231, 233);
  /* border: 1px solid red; */
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding: 2rem;
}

.one-signal-text {
  font-size: x-large;
  line-height: 32px;
  font-family: "Manrope", sans-serif;
}

.person {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.person-img img {
  height: 40px;
  border-radius: 20px;
}

.one-signal-container .one-signal-right {
  width: 40%;
  height: 100%;
  background: linear-gradient(rgb(59, 143, 221) 0%, rgb(255, 197, 243) 100%);
  opacity: 1;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one-signal-right .one-signal-img {
  height: 120px;
  width: 120px;
  position: absolute;
}

.one-signal-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center center;
  object-fit: contain;
  image-rendering: auto;
  /* transition: all 5s ease-in-out; */
}

.one-signal-img:hover {
  transform: rotate(10deg);
  height: 130px;
  width: 130px;
  transition: all 0.3s ease-in-out;
}

/* .one-signal end */
   
 
 .Hire-design-talent{
    /* border: 2px solid black; */
    text-align: center;
    margin-top: 100px;
    font-size: 22px;
    color: #3D3D4E;
 }


 /*--Section Brand--[Start]*/
 .brands{
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
   margin-top: 10px;
   justify-content: space-between;
  
 }
 .world-class-talent{
      display: flex;
      flex-direction: column;
     margin-left: 100px;
     margin-top: 30px;
     gap: 25px;
     width: 40%;
     height: auto;
     padding-left: 14px;
     padding-top: 14px;
 }

 .talent-1{
   font-size: 14px;
   font-weight: bold;
   color: #0D0C22;
   background-color: #E6FBFE;
   width: 167px; 
 }
 .world-class-talent>p{
  color: #3d3d4e;
  line-height: 1.8em;
 }
 .talent-2{
  font-size: 14px;
  font-weight: bold;
  color: #0D0C22;
  background-color: #E3EBFD;
  width: 150px; 
}
.talent-3{
  font-size: 14px;
  font-weight: bold;
  color: #0D0C22;
  background-color: #EDDDFB;
  width: 115px; 
}
.image{
  display: flex;
  flex-direction: row;
 margin-top: 30px;
 object-position: center;
    object-fit: cover;
 width: 40%;
 height: 20vh;
}
 /* *\--Section Brand--[Start]*/ 



/* creative professional--[START] */
.creative{
   background: linear-gradient(90deg,#ecfbf9 0%,rgba(229,252,222,1) 100%);
   text-align: center;
   /* border: 2px solid red; */
}

.button-first{
  display: flex;
  padding: 15px 20px;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 50px;
  color: #0d0c22;
  font-weight: bold;
  font-size: large;
  align-items: center;
  justify-content: center;
  width: 60vh;
}
.button-next{
  display: flex;
  padding: 15px 20px;
  background-color: #060318;
  border-radius: 50px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: large;
  align-items: center;
  justify-content: center;
  width: 60vh;
}


  /* ----------slide Part --------- */
  .category {
    width: 100%;
    height: 45vh;
    /* border: 1px solid rgb(25, 0, 253); */
  }
  .category .slid {
    position: relative;
    top: 8vh;
    display: inline-block;
    width: 100%;
    height: 35vh;
    /* border: 1px solid aqua; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /* overflow: visible; */
  }
  .category .slid .box {
    display: inline-block;
    width: 220px;
    height: 100%;
    /* border: 1px solid red; */
    border-radius: 7px;
    animation-name: box-anime;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .category .slid::-webkit-scrollbar {
    display: none;
  }
  @keyframes box-anime {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .category .slid:hover .box {
    animation-play-state: paused;
    cursor: pointer;
  }
  .box img {
    height: 86%;
    width: 93%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  .box span {
    display: flex;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Home -> footer */
  .footer {
    width: 100%;
    height: 34vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-head {
    top: 5vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid red; */
  }
  .footer-logo {
    /* border: 1px solid red; */
    margin-left: 5%;
    padding: 0px;
  }
  .footer-logo img {
    width: 50%;
    height: 10%;
    cursor: pointer;
    /* border: 1px solid red; */
  }
  .footer-list {
    width: 60%;
    height: 100%;
    /* border: 1px solid skyblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    overflow: hidden;
    margin-left: -8%;
  }
  .footer-icons {
    margin-right: 5%;
    display: flex;
    align-items: center;
    /* border:1px solid rgb(212, 0, 255); */
  }
  .footer-icons img {
    height: 18px;
    cursor: pointer;
    margin: 8px;
  }
  /* -------Footer-botttom-------- */
  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    padding-bottom: 1.5%;
    /* border: 1px solid darkmagenta; */
  }
  .footer-term {
    width: 30%;
    height: 4vh;
    display: flex;
    align-items: center;
    color: #2c2c2c;
    gap: 16px;
    /* border: 1px solid orangered; */
  }
  .footer-term pre {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
  }
  .footer-term pre > img {
    height: 12px;
    width: 12px;
  }
  .footer-space {
    width: 38%;
    height: 4vh;
    /* border: 1px solid black; */
  }
  .footer-tags {
    width: 33%;
    height: 4vh;
    display: flex;
    gap: 14.5px;
    /* border: 1px solid green; */
  }

