* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  position: relative;
}
/* ---------- Home -> part 1 --------- */
.header {
  width: 100%;
  height: 100vh;
  background-color: #f8f7f4;
}
/* ---------- Navbar --------- */
.navbar {
  width: 100%;
  height: 15vh;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.navbar-logo {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.navbar-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: calc(0.8rem + 1vw);
}
a {
  display: flex;
  font-size: 15px;
  /* change the font */
  font-family: Arial, Helvetica, sans-serif;
  /* color: #0d0c22; */
  color: rgb(91, 90, 90);
  text-decoration: none;
}
a:hover {
  /* color: #0d0c22b2; */
  color: rgba(91, 90, 90, 0.8);
  transition: all ease 0.5s;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-weight: bold;
}

.navbar-right > .sing-up {
  display: flex;
  padding: 15px 20px;
  background-color: #0d0c22;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}
.navbar-right > .sing-up:hover {
  opacity: 0.8;
  transition: ease 0.5s;
}
.navbar-right input {
  padding: 13px 18px 13px 40px;
  background-image: url("./assets/magnifying-glass.png");
  background-size: 19px 19px;
  background-position: 18px 14px;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 50px;
  border: 0px;
  font-size: 16px;
}

/* ---------- Work Part --------- */
.work {
  /* border: 1px solid rgb(0, 38, 255); */
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 75vh;
}
.work .work-part {
  position: relative;
  top: -6vh;
  display: flex;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 140, 159);
  border-radius: 50px;
  padding: 10px 20px;
  letter-spacing: 0.5px;
}
.work-part2 .hero {
  position: relative;
  top: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 80px;
  /* font-family: ; */
  /* font-weight: bold; */
  letter-spacing: 1px;
  line-height: 75px;
}
.work p{
    position: relative;
    top: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 23px;
    color: #000000;
    line-height: 50px;
}
.work button{
    position: relative;
    top: 6vh;
    padding: 18px 25px;
    font-size: 14px;
    background-color: #0d0c22;
    border-radius: 50px;
    font-weight: bold;
    color: #fff;
}
.work button:hover{
    opacity: 0.8;
    transition: ease 0.5s;
    cursor: pointer;
}

/* ---------- Home -> Part 2 --------- */
.part2{
    position: relative;
    width: 100%;
    height: 65vh;
    border: 1px solid red;
}
.center{
    position: relative;
    width: 100%;
    height: 50vh;
    /* border: 1px solid rgb(253, 0, 211); */
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 10;
}
.center .center-part{
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
}
.div{
    position: relative;
    width: 300px;
    height: 100%;
    display: inline-block;
    border-radius: 20px;
    margin-left: 25px;
    animation-name: scroll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes scroll{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
/* .part2 .center .center-part::-webkit-scrollbar{
    display: none;
} */
.div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}
.div video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

/* ---------- Home -> Part 3 --------- */
.part3{
  width: 100%;
  height: 545vh;
  border: 1px solid blue;
}
.part3 .explore h1{
  position: relative;
  top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  letter-spacing: 1px;
  color: #252525;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* designs */
.designs{
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 10vh;
  left: 2.5%;
  margin-top: 3vh;
  width: 95%;
  height: 38vh;
  border: 1px solid black;
  padding: 0px 22px;
}
.data{
  display: flex;
  width: 23%;
  height: 90%;
  border-radius: 20px;
  border: 1px solid orangered;
}
.part3 button{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 6vh; */
    padding: 18px 25px;
    margin-left: 45%;
    margin-top: 9.5%;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 50px;
    font-weight: bold;
    color: #252525;
    border: 1px solid black;
}
.part3 button:hover{
  opacity: 0.8;
  transition: ease 0.5s;
  cursor: pointer;
}

/* ---------- Home -> Part 3 --------- */
.part4{
  width: 100%;
  height: 120vh;
  background-color: #ffda79;
}